@import '__addr-wrap/datalist-item__addr-wrap.css';
@import '__checkbox/datalist-item__checkbox.css';
@import '__checkbox-wrap/datalist-item__checkbox-wrap.css';
@import '__date/datalist-item__date.css';
@import '__date-wrap/datalist-item__date-wrap.css';
@import '__icon/datalist-item__icon.css';
@import '__icon-wrap/datalist-item__icon-wrap.css';
@import '__message-wrap/datalist-item__message-wrap.css';
@import '__status/datalist-item__status.css';
@import '__status-wrap/datalist-item__status-wrap.css';
@import '__subject-snippet/datalist-item__subject-snippet.css';
@import '__subject-wrap/datalist-item__subject-wrap.css';
@import '__subject/datalist-item__subject.css';
@import 'datalist-item_read.css';
@import 'datalist-item_unread.css';

.datalist-item {
	display: flex;
	height: 44px;
	font-size: 15px;
	padding-right: 32px;
}

.datalist-item:hover {
	background-color: rgb(252, 251, 250);
}

.datalist-item:first-of-type {
	/* border-top: 1px solid rgb(210, 210, 210); */
}

.actions__button_select {
	/*border: none;*/
	cursor: pointer;
	margin: 0;
}

.actions__button_select:hover {
	background-color: transparent;
}

.actions_datalist {
	display: flex;
	justify-content: flex-end;
	margin-right: 14px;
	align-items: center;
}
