.compose-head__input {
	border: 0;
	border-bottom: 2px solid lightgrey;
	box-sizing: border-box;
	width: 100%;
	font-size: 18px;
	/* width: 590px; */
}

.compose-head__input:focus {
	outline: none;
}
