nav {
	display: block;
	width: 150px; /* doesn't work for no reason */
	margin-right: 15px;
	font-size: 18px;
	color: hsl(0, 0%, 30%);
}

nav ul {
	list-style: none;
	width: 150px;
	margin: 0;
	padding: 0;
}

nav > ul ul {
	padding-left: 20px;
}

nav li {
	list-style-type: none;
}

nav a {
	display: block;
}
