.nav__link {
	display: block;
	text-decoration: none;
}

.nav__link:hover {
	transition-duration: 0.4s;
}

.nav__list .nav__list_2 {
	padding-left: 20px;
	width: auto;
}

.nav__list .nav__list_2 .nav__list-item {
	font-size: 16px;
	font-weight: normal;
}

.nav__list {
	list-style: none;
	/*width: 150px; with box_nav it's 130px*/
	margin: 0;
	padding: 0;
}

.nav__list-item {
	list-style-type: none;
	font-size: 18px;
	margin-top: 12px;
}


.nav__list-item .nav__link__main {
	height: 40px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 14px;
	line-height: 20px;
	color: rgb(0, 122, 102);
	font-weight: 700;
	border-radius: 4px;
	transition: background-color .1s ease-in;
	padding: 0 16px;
	height: 40px;
}

.nav__list-item .nav__link__main:hover {
	/* background-color: rgba(0, 191, 161, 0.15); */
	/* color: rgb(0, 95, 79); */
}

.nav__list-item .nav__link__main_active {
	/* background-color: rgba(74, 201, 44, 0.12); */
}



.nav {
	display: block;
	font-size: 18px;
	width: 100%;
}
.nav:focus {
	outline: none;
}

.actions__button_compose {
	border-radius: 32px;
	border: none;
	background-color: rgba(12, 157, 233, 0.1);
	padding: 4px 12px;
	font-size: 14px;
	line-height: 20px;
	color: rgb(10, 110, 160);
	font-weight: 700;

	transition: background-color .1s ease-in;
	padding: 0 16px;
	height: 40px;
	cursor: pointer;
	border-radius: 32px;
}

.actions__button_compose:hover {
	background-color: rgba(9, 145, 217, 0.15);
	color: rgb(6, 75, 109);
}

.nav__list-item_secondary {
	height: 32px;
	margin: 8px 0;
	text-transform: capitalize;
}

.nav__list-item_secondary .nav__link {
	display: flex;
	height: 100%;
	align-items: center;
}

.nav__list-item_secondary:hover {
	color: rgb(10, 110, 160);
}

.nav__list-item_secondary_active {
	color: rgb(10, 110, 160);
}



.actions__button_create {
	background-color: rgba(74, 201, 44, 0.12);
	color: #007a66;

	border: none;
	padding: 4px 12px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	transition: background-color .1s ease-in;
	padding: 0 16px;
	height: 40px;
	cursor: pointer;
	border-radius: 32px;
}

.actions__button_create:hover {
	background-color: rgba(0, 191, 161, 0.15);
	color: rgb(0, 95, 79);
}

.actions__button_delete {
	background-color: rgba(192, 57, 43, 0.12);
	color: rgb(192, 57, 43);

	border: none;
	padding: 4px 12px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	transition: background-color .1s ease-in;
	padding: 0 16px;
	height: 40px;
	cursor: pointer;
	border-radius: 32px;
}
.actions__button_delete:hover {
	background-color: rgba(192, 57, 43, 0.12);
	color: rgb(192, 57, 43);
}


.layout__right_settings-wrap .actions {
	display: flex;
	justify-content: flex-end;
	margin-right: 14px;
	align-items: center;
}


.datalist-item__subject-settings {
	color: black;
	font-weight: inherit;
	text-transform: capitalize;
	font-size: 18px;
}

.datalist-item__subject::after {
	content: "    ";
	white-space: pre;
}

.datalist-item__checkbox-settings {
	margin-right: 16px;
}


