.left-panel{
    background: linear-gradient(180deg, #033E75 0%, #15548E 47.4%, #02325E 98.44%), #1927A4;
    height: 100vh;
    /* flex: 0 0 17%;
    max-width: 17%; */
    width: 17vw;
    color: white;
    font-weight: lighter;
}
#menu_icon {
    width: 25px;
    height: 25px;
    padding: 8px 8px;
    margin: auto 0;
    cursor: pointer;
}

.menu-item{
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

.menu-item:hover {
    background: #0D5291;
    z-index: 10;
}

#menu_icon:hover {
    background: #0D5291;
}
.menu-header {
    display: flex;
    margin-bottom: 20px;
}
.menu-header h4 {
    display: inline-block;
    font-size: 16pt;
    font-weight: 300;
    align-items: center;
    margin: auto;
    position: relative;
}

.lvl-0 {
    padding-left: 10px;
    font-size: 14pt;
    font-weight: normal;
}

.lvl-1 {
    padding-left: 30px;
    font-size: 12pt;
}

.lvl-2 {
    padding-left: 50px;
    font-size: 12pt;
}