.left-panel{
    background: linear-gradient(180deg, #033E75 0%, #15548E 47.4%, #02325E 98.44%), #1927A4;
    height: 100vh;
    /* flex: 0 0 17%;
    max-width: 17%; */
    width: 17vw;
    color: white;
    font-weight: lighter;
}

.main-page {
    background-color: #fff;
    /* flex: 0 0 83%;
    max-width: 83%; */
    width: 82.7vw;
    height: 100vh;
    font-weight: 300;
    position: relative;
}

.main-page h2 {
    font-weight: inherit;
    color: #393939;
    display: flex;
    padding: 1vh 5vw;
    height: 7vh;
}

.application {
    display: flex;
    position: relative;
    flex-direction: row;
}

#menu_icon {
    width: 40px;
    height: 35px;
    padding: 8px;
    margin: auto 0;
}

.menu-header {
    display: flex;
    margin-bottom: 20px;
}
.menu-header h4 {
    display: inline-block;
    font-size: 16pt;
    font-weight: 300;
    align-items: center;
    margin: auto;
}
.menu-item {
}

.lvl-0 {
    padding-left: 10px;
    font-size: 14pt;
    font-weight: normal;
}

.lvl-1 {
    padding-left: 30px;
    font-size: 12pt;
}

.lvl-2 {
    padding-left: 50px;
    font-size: 12pt;
}

#header-hr {
    border: 1px solid #F5F2F2;
    margin: 0 2vw;
    margin-bottom: 4vh;
}
#avatar-img{
    width: 120px;
    /* padding: 50px; */
    padding-bottom: 20px;
    margin: 0 auto;
}
#change-avatar {
    width: 80px;
    height: 33px;
    background: #03335F;
    border-radius: 2px;
    border-color: #000;
    font-size: 13pt;
    color: #fff;
    display: block;
    margin: 0 auto;
}

input [type=submit] {
    background: #03335F;
    border-radius: 2px;
    border-color: #000;
    font-size: 13pt;
    color: #fff;
    display: block;
}

#change-email {
    margin-top: 30px;
    width: 70px;
    height: 30px;
    background: #03335F;
    border-radius: 2px;
    border-color: #000;
    font-size: 12pt;
    color: #fff;
    display: block;
}

#logout-button {
    position: absolute;
    right: 3vw;
    bottom: 3vh;
    background: #760C05;
    border-radius: 4px; 
    border-width: 0px;
    color: white;
    height: 4vh;
}

.row {
    display: flex;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9,.col-10, .col-11, .col-12 {
    position:relative;
    width:100%;
    padding-right:15px;
    padding-left:15px
}
.col-1 {
    flex:0 0 8.333333%;
    max-width:8.333333%;
}
.col-2 {
    flex:0 0 16.666667%;
    max-width:16.666667%;
}

.col-3 {
    flex:0 0 25%;
    max-width:25%;
}

.col-4 {
    flex:0 0 33.333333%;
    max-width:33.333333%;
}

.col-5 {
    flex:0 0 41.666667%;
    max-width:41.666667%;
}

.col-6 {
    flex:0 0 50%;
    max-width:50%;
}

.col-7 {
    flex:0 0 58.333333%;
    max-width:58.333333%;
}

.col-8 {
    flex:0 0 66.666667%;
    max-width:66.666667%;
}

.col-9 {
    flex:0 0 75%;
    max-width:75%;
}

.col-10 {
    flex:0 0 83.333333%;
    max-width:83.333333%;
}

.col-11 {
    flex:0 0 91.666667%;
    max-width:91.666667%;
}

.col-12 {
    flex:0 0 100%;
    max-width:100%;
}

.ml-5 {
    margin-left: 1rem;
}
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}