@import url("components/common/Button/Button.css");
@import url("components/common/Form/Form.css");
@import url("components/common/FormBlock/FormBlock.css");
@import url("components/common/FormBlock/FormBlock.css");
@import url("components/Profile/Profile.css");
@import url("components/SignIn/SignIn.css");
@import url("components/SignUp/SignUp.css");

body {
	margin: 0;
	background: linear-gradient(180deg, #033E75 0%, #15548E 47.4%, #02325E 98.44%), #1927A4;
	font-family: 'Roboto', serif;
	color: hsl(0, 0%, 45%);
}

.application {
	display: flex;
	position: relative;
	flex-direction: row;
}
