@import url("additional-styles.css");
@import url("/components/FormInput/FormInput.css");
@import url("/components/PersonalArea/PersonalArea.css");
@import url("/components/Button/Button.css");
@import url("/components/SignUp/SignUp.css");
body {
    margin: 0px;
    background: linear-gradient(180deg, #033E75 0%, #15548E 47.4%, #02325E 98.44%), #1927A4;
    font-family: 'Roboto';
    color: hsl(0, 0%, 45%);
}

.application {
    display: flex;
    position: relative;
    flex-direction: row;
}
