@import '../Box/Box.css';
@import '../Form/Form.css';

.auth.box {
	box-sizing: border-box;
	width: 360px;
	height: auto;
}

.auth.box .footer {
	margin: 20px auto;
	font-size: 15px;
	text-align: center;
	font-weight: normal;
}

.auth.box .footer a:hover {
	text-decoration: none;
	font-weight: bold;
}

.flex > * {
	position: relative;
	width: 148px;
}

.flex > *:nth-child(1) {
	margin-right: 4px;
}

.form__block label {
	font-size: 15px;
	font-weight: normal;
}
