.datalist-item__message-wrap {
	display: flex;
	/* width: 100%;
	justify-content: space-between; */

	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 1;
	align-items: center;
	height: 44px;
	overflow: hidden;
}
