@import '__center/layout__center.css';
@import '__left/layout__left.css';
@import '__right/layout__right.css';

.layout {
	display: flex;
	height: 66px;
}

.layout_main {
	width: 100%;
	height: 100%;
}
