.main {
	position: absolute;
	display: flex;
	top: 66px;
	box-sizing: border-box;
	height: calc(100% - 66px);
	width: 100%;
	overflow: visible;
}

.layout__left_nav-wrap {
	background-color: rgb(250, 250, 249);
	margin-top: -66px;
	z-index: 20;
	position: fixed;
	height: 100vh;
}

@media screen and (max-width: 765px) {
	.layout__left_nav-wrap {
		position: fixed;
		top: 66px;
		height: calc(100% + 66px);
		display: none;
	}
	.layout__left_nav-wrap_active {
		display: flex;
	}
}

.layout__left_nav-small {
	width: 64px;
}