.actions__add_wrap {
    display: block;
    max-width: 100px;
    height: 100px;
    padding: 50px;
    overflow: hidden;   
}

.actions__add_wrap div:hover{
    background-color: #0f0;
    max-width: 300px;
    overflow: visible;
}

.actions__input_name {
    cursor: text;
}

.actions__input_name_invisible:hover {
    /* display: none; */
    /* visibility: hidden; */
    background-color: #f00;
}

.actions__input_name_visible {
    display: inline-block;
    height: 28px;
}

.actions__button_create {
	background-color: rgba(74, 201, 44, 0.12);
	color: #007a66;

	border: none;
	padding: 4px 12px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	transition: background-color .1s ease-in;
	padding: 0 16px;
	height: 40px;
	cursor: text;
	border-radius: 32px;
}

.actions__button_create:hover {
	background-color: rgba(0, 191, 161, 0.15);
	color: rgb(0, 95, 79);
}

.actions__button_delete {
	background-color: rgba(192, 57, 43, 0.12);
	color: rgb(192, 57, 43);

	border: none;
	padding: 4px 12px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	transition: background-color .1s ease-in;
	padding: 0 16px;
	height: 40px;
	cursor: pointer;
	border-radius: 32px;
}
.actions__button_delete:hover {
	background-color: rgba(192, 57, 43, 0.12);
	color: rgb(192, 57, 43);
}