.datalist-item__addr-wrap {
	display: flex;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 36px;
	width: 208px;
	box-sizing: border-box;
	flex-direction: row;
	align-items: baseline;
	padding-right: 24px;
	text-overflow: ellipsis;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0 12px;
}
