.actions__button {
	background-color: white;
	border-radius: 5px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.2s;
	font:inherit;
	color:inherit;
	margin: 0px 2px;
	padding: 4px 12px;
	border: none;


	cursor: pointer;
	background-color: white;
	border: 1px solid gray;
	border-radius: 5px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	font:inherit;
	color:inherit;

	border-radius: 32px;
	padding: 4px 12px 4px 12px;
	font-size: 14px;
	background-color: transparent;
	border: none;
}

.actions__button:hover {
	background-color: #f5f4f2;
}

.actions__button:focus{
	outline: none;
}
