.actions__button {
	background-color: transparent;
	font:inherit;
	color:inherit;
	margin: 0 2px;

	cursor: pointer;
	border: 1px solid #eee;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;

	border-radius: 32px;
	padding: 4px 12px 4px 12px;
	font-size: 14px;
}

.actions__button:hover {
	background-color: #f5f4f2;
}

.actions__button:focus{
	outline: none;
}
