header, header * {
	height: 42px;
}

header {
	position: fixed;
	width: 100%;

	box-shadow: 0 0 2px 0 rgba(181,181,181,.7);
}

.layout {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

header .layout {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

header .layout .left, header .layout .right {
	display: flex;
}

header .logo-wrap {
	position: relative;
	width: 165px;
	display: block;
}

header img {
	height: 34px;
	margin-top: 4px;
	margin-bottom: 4px;
}

header .search-wrap {
	position: relative;
	width: 230px;
}

header input.search {
	margin: 7px 0;
	width: 230px;
	box-sizing: border-box;
	height: 28px;
	line-height: 16px;
	background: #00000022 url('/images/icons/loupe.svg') no-repeat left 8px;
	border-radius: 14px;
	border: none;
	border-left: 8px solid transparent;
	padding-left: 19px;
}

header input.search:focus {
	background-color: #00000011;
}

header .profile-wrap {
	display: flex;
}

/* for no reason doesn't work */
header .profile_wrap:hover {
	background-color: #00000011;
}

header .profile_name {
	vertical-align: middle;
	line-height: 42px;
	padding: 0 10px;
}

header .profile-wrap .arrow {
	height: 4px;
	margin: 20px 8px 0 7px;
}

header .profile__menu {
	visibility: hidden;
	position: absolute;
	width: 160px;
	top: 48px;
	right: 9px;
	z-index: 1000;
}

header .profile__menu.active {
	visibility: visible;
}
