.header__search-wrap {
	width: 230px;
}

.header__search {
	margin: 7px 0;
	width: 230px;
	box-sizing: border-box;
	height: 36px;
	line-height: 16px;
	background: url('/static/images/icon/loupe.svg') no-repeat left 24px;
	border-radius: 14px;
	border: none;
	border-left: 8px solid transparent;
	padding-left: 19px;

	cursor: pointer;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-shrink: 0;
	border-radius: 32px;
	margin: 4px;
	border-style: solid;
	border-color: rgb(240, 239, 237);
	border-width: 2px;
	background-position: left;
}

@media screen and (max-width: 765px) {
	.header__search {
		width: 150px;
	}
}

.header__search:focus {
	background-color: #00000011;
	outline: none;
}
